#map-container {
    display: flex;
    height: 80vh; /* Adjust the height for visibility */
}

#map {
    flex: 3;
    height: 100%;
}

#info-box {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    overflow-y: auto;
}

#info-box h2 {
    color: #3498db;
}

#info-box p {
    font-size: 1.1em;
    margin: 10px 0;
}

#fastest-times {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
