/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f5f1;  /* Light green background */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #5abf41;  /* BySykkel Green */
    color: white;
    padding: 20px;
    text-align: center;
}

#headerContent h1 {
    font-size: 2.5em;
    margin: 0;
}

#headerContent p {
    font-size: 1.2em;
    margin: 5px 0 20px 0;
}

/* Banner Section */
#banner {
    background: linear-gradient(45deg, #5abf41, #4aa336);
    color: white;
    text-align: center;
    padding: 50px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for banner */
}

#banner h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#banner p {
    font-size: 1.4em;
}

/* Description Section */
#appDescription {
    text-align: center;
    margin: 30px auto;
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
#loadData {
    display: block;
    margin: 30px auto;
    padding: 15px 40px;
    background: linear-gradient(45deg, #5abf41, #4aa336);  /* Gradient Green Button */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease-in-out;
}

#loadData:hover {
    background: linear-gradient(45deg, #4aa336, #399f2b);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);  /* Slight grow on hover */
}

/* Filter Section */
#filters {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    padding: 25px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

#startStationFilter, #endStationFilter {
    flex: 1;
    padding: 15px;
}

/* Table Styles */
table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Deeper shadow for a floating effect */
}

th, td {
    padding: 20px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

th {
    background-color: #5abf41;  /* Green Header */
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #dff4d9;  /* Light green on hover */
    transition: background-color 0.3s ease;
}

.highlight {
    background-color: #d1ecf1;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 15px;
    background-color: #5abf41;
    color: white;
    font-size: 0.9em;
}
