body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
}

#map-container {
    position: relative;
    height: 80vh; /* Adjust height */
}

#map {
    height: 100%;
    width: 100%;
}

#tour-info {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f5f1;
}
